@if (store.previousGuesses().length > 0) {
<div class="previous-guesses">
  <ul class="guess-list">
    @for (result of store.previousGuesses(); track result.guess.id) {
    <li style="display: inline">
      <mat-card class="previous-guess__tile">
        <mat-card-content>
          <div>
            <p>Guess #{{ store.previousGuesses().length - $index }}:</p>
            <p>{{ result.guess.title }}</p>
            <p [className]="verdictClass(result.comparison.releaseYear)">
              ({{ result.guess.releaseYear }})
            </p>
            <p [className]="verdictClass(result.comparison.genre)">
              Genre: {{ result.guess.genre }}
            </p>
            <p [className]="verdictClass(result.comparison.platforms)">
              Platforms: {{ result.guess.platforms.join(', ') }}
            </p>
            <p [className]="verdictClass(result.comparison.localMaximumPlayers)">
              Maximum Local Players: {{ result.guess.localMaximumPlayers }}
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </li>
    }
  </ul>
</div>
}
